scripts/flows.json
[
    {
        "id": "grpFileTransfer",
        "type": "ui_group",
        "name": "File Transfer",
        "tab": "uitab",
        "order": 2,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ft_3729e28a8ced",
        "type": "ui_template",
        "z": "tab1",
        "group": "grpFileTransfer",
        "name": "File Transfer panel",
        "order": 1,
        "width": 24,
        "height": 11,
        "format": "<style>\n  .ft-wrap { font-family: system-ui, sans-serif; color: #eee; }\n  .ft-grid { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 12px; }\n  .ft-card { background: #202020; border-radius: 10px; padding: 12px; min-height: 250px; }\n  .ft-card h3 { margin: 0 0 8px; font-size: 1rem; }\n  .ft-card button, .ft-card input::file-selector-button { border: 0; border-radius: 6px; padding: 5px 9px; margin: 2px; cursor: pointer; background: #2e7d32; color: #fff; font-weight: 600; }\n  .ft-card button.danger { background: #b71c1c; }\n  .ft-list { max-height: 190px; overflow: auto; border-top: 1px solid #444; margin-top: 8px; padding-top: 6px; }\n  .ft-row { display: flex; justify-content: space-between; gap: 8px; align-items: center; border-bottom: 1px solid #333; padding: 4px 0; }\n  .ft-name { overflow-wrap: anywhere; font-size: .82rem; }\n  .ft-meta { opacity: .65; font-size: .72rem; }\n  .ft-status { margin-top: 8px; font-size: .8rem; opacity: .85; white-space: pre-wrap; }\n</style>\n\n<div class=\"ft-wrap\">\n  <div class=\"ft-grid\">\n    <div class=\"ft-card\">\n      <h3>Home Files</h3><div>/home/initbox</div>\n      <button ng-click=\"refresh('home')\">Refresh</button>\n      <form id=\"ftHomeUpload\" enctype=\"multipart/form-data\" method=\"post\" action=\"/ft/upload/home\" target=\"ftHidden\" style=\"margin-top:6px;\">\n        <input type=\"file\" name=\"file\"><button type=\"submit\">Upload</button>\n      </form>\n      <div class=\"ft-list\"><div class=\"ft-row\" ng-repeat=\"f in files.home track by f.rel\"><div><div class=\"ft-name\">{{f.type === 'dir' ? '\ud83d\udcc1 ' : '\ud83d\udcc4 '}}{{f.rel}}</div><div class=\"ft-meta\">{{f.type}} {{f.size || 0}} bytes</div></div><div ng-if=\"f.type === 'file'\"><button ng-click=\"download('home', f.rel)\">Download</button><button class=\"danger\" ng-click=\"deleteHome(f.rel)\">Delete</button></div></div></div>\n    </div>\n    <div class=\"ft-card\">\n      <h3>Runtime Files</h3><div>/usr/local/bin</div><button ng-click=\"refresh('bin')\">Refresh</button>\n      <div class=\"ft-list\"><div class=\"ft-row\" ng-repeat=\"f in files.bin track by f.rel\"><div><div class=\"ft-name\">{{f.type === 'dir' ? '\ud83d\udcc1 ' : '\ud83d\udcc4 '}}{{f.rel}}</div><div class=\"ft-meta\">{{f.type}} {{f.size || 0}} bytes</div></div><div ng-if=\"f.type === 'file'\"><button ng-click=\"download('bin', f.rel)\">Download</button></div></div></div>\n    </div>\n    <div class=\"ft-card\">\n      <h3>CAN Trace</h3><div>/usr/local/bin/CAN.trc</div><button ng-click=\"downloadCan()\">Download CAN.trc</button>\n      <form id=\"ftCanUpload\" enctype=\"multipart/form-data\" method=\"post\" action=\"/ft/upload/can\" target=\"ftHidden\" style=\"margin-top:8px;\">\n        <input type=\"file\" name=\"file\" accept=\".trc,.TRC\"><button type=\"submit\">Upload / Replace CAN.trc</button>\n      </form>\n      <div class=\"ft-status\">Upload accepts .trc files only. FMS service is restarted automatically if installed.</div>\n    </div>\n  </div>\n  <iframe name=\"ftHidden\" style=\"display:none\"></iframe><div class=\"ft-status\">{{status}}</div>\n</div>\n<script>\n(function(scope){\n  scope.files={home:[],bin:[]}; scope.status='';\n  function setStatus(s){scope.status=s;scope.$applyAsync();}\n  scope.refresh=function(area){fetch('/ft/list?area='+encodeURIComponent(area),{cache:'no-store'}).then(r=>r.json()).then(data=>{scope.files[area]=Array.isArray(data)?data:[];setStatus('Loaded '+scope.files[area].length+' item(s) from '+area+'.');}).catch(e=>setStatus('Refresh failed: '+e));};\n  scope.download=function(area,rel){window.location.href='/ft/download?area='+encodeURIComponent(area)+'&file='+encodeURIComponent(rel);};\n  scope.downloadCan=function(){window.location.href='/ft/download-can';};\n  scope.deleteHome=function(rel){if(!confirm('Delete /home/initbox/'+rel+' ?'))return;fetch('/ft/delete-home',{method:'POST',headers:{'Content-Type':'application/x-www-form-urlencoded'},body:'file='+encodeURIComponent(rel)}).then(r=>r.text()).then(t=>{setStatus(t);scope.refresh('home');}).catch(e=>setStatus('Delete failed: '+e));};\n  document.getElementById('ftHomeUpload').addEventListener('submit',function(){setTimeout(function(){scope.refresh('home');setStatus('Home upload submitted.');},1500);});\n  document.getElementById('ftCanUpload').addEventListener('submit',function(){setTimeout(function(){setStatus('CAN.trc upload submitted.');},1500);});\n  scope.refresh('home'); scope.refresh('bin');\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 150,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "ft_46c064831cfa",
        "type": "http in",
        "z": "tab1",
        "name": "GET /ft/list",
        "url": "/ft/list",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 1400,
        "wires": [
            [
                "ft_828e0043a719"
            ]
        ]
    },
    {
        "id": "ft_828e0043a719",
        "type": "function",
        "z": "tab1",
        "name": "ft list args",
        "func": "const q=(msg.req&&msg.req.query)||{};\nconst area=String(q.area||'').toLowerCase();\nif(!['home','bin'].includes(area)){msg.statusCode=400;msg.payload=[{error:'bad area'}];return [null,msg];}\nmsg.payload=area;return [msg,null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1400,
        "wires": [
            [
                "ft_fa1fa52ebbca"
            ],
            [
                "ft_e059dec0fe49"
            ]
        ]
    },
    {
        "id": "ft_fa1fa52ebbca",
        "type": "exec",
        "z": "tab1",
        "command": "sudo /usr/local/bin/initbox-file-transfer.sh list",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "ft list",
        "x": 450,
        "y": 1380,
        "wires": [
            [
                "ft_436da64c001e"
            ],
            [
                "ft_e059dec0fe49"
            ],
            [
                "ft_e059dec0fe49"
            ]
        ]
    },
    {
        "id": "ft_436da64c001e",
        "type": "json",
        "z": "tab1",
        "name": "parse ft JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 1380,
        "wires": [
            [
                "ft_e059dec0fe49"
            ]
        ]
    },
    {
        "id": "ft_e059dec0fe49",
        "type": "http response",
        "z": "tab1",
        "name": "ft response",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 800,
        "y": 1400,
        "wires": []
    },
    {
        "id": "ft_baf2b924f384",
        "type": "http in",
        "z": "tab1",
        "name": "GET /ft/download",
        "url": "/ft/download",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 1480,
        "wires": [
            [
                "ft_1a8c8f7f55fd"
            ]
        ]
    },
    {
        "id": "ft_1a8c8f7f55fd",
        "type": "function",
        "z": "tab1",
        "name": "ft download args",
        "func": "const q=(msg.req&&msg.req.query)||{};\nconst area=String(q.area||'').toLowerCase();\nconst file=String(q.file||'');\nif(!['home','bin'].includes(area)||!file||file.includes('..')||file.startsWith('/')||/[;&|`$<>]/.test(file)){msg.statusCode=400;msg.payload='Bad file request';return [null,msg];}\nmsg.ftBase=file.split(/[\\\\/]/).pop()||'download.bin';\nmsg.payload=area+' '+file;return [msg,null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1480,
        "wires": [
            [
                "ft_3fd04b4aa9bd"
            ],
            [
                "ft_8db86fa2e46d"
            ]
        ]
    },
    {
        "id": "ft_3fd04b4aa9bd",
        "type": "exec",
        "z": "tab1",
        "command": "sudo /usr/local/bin/initbox-file-transfer.sh download-path",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "ft path",
        "x": 500,
        "y": 1460,
        "wires": [
            [
                "ft_a135777fb423"
            ],
            [
                "ft_8db86fa2e46d"
            ],
            [
                "ft_8db86fa2e46d"
            ]
        ]
    },
    {
        "id": "ft_a135777fb423",
        "type": "function",
        "z": "tab1",
        "name": "set ft filename",
        "func": "const path=String(msg.payload||'').trim();\nif(!path){msg.statusCode=404;msg.payload='File not found';return [null,msg];}\nmsg.filename=path;return [msg,null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1460,
        "wires": [
            [
                "ft_813e4c2d526d"
            ],
            [
                "ft_8db86fa2e46d"
            ]
        ]
    },
    {
        "id": "ft_813e4c2d526d",
        "type": "file in",
        "z": "tab1",
        "name": "read ft file",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 850,
        "y": 1460,
        "wires": [
            [
                "ft_bd8faebeecac"
            ]
        ]
    },
    {
        "id": "ft_bd8faebeecac",
        "type": "function",
        "z": "tab1",
        "name": "ft download headers",
        "func": "const base=msg.ftBase||String(msg.filename||'').split(/[\\\\/]/).pop()||'download.bin';\nmsg.statusCode=200;\nmsg.headers={'Content-Type':'application/octet-stream','Content-Disposition':'attachment; filename=\"'+base.replace(/\"/g,'')+'\"','Cache-Control':'no-store'};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1460,
        "wires": [
            [
                "ft_8db86fa2e46d"
            ]
        ]
    },
    {
        "id": "ft_8db86fa2e46d",
        "type": "http response",
        "z": "tab1",
        "name": "ft download response",
        "statusCode": "",
        "headers": {},
        "x": 1260,
        "y": 1480,
        "wires": []
    },
    {
        "id": "ft_e4c563a87f2c",
        "type": "http in",
        "z": "tab1",
        "name": "GET /ft/download-can",
        "url": "/ft/download-can",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1560,
        "wires": [
            [
                "ft_a1880361a4e5"
            ]
        ]
    },
    {
        "id": "ft_a1880361a4e5",
        "type": "exec",
        "z": "tab1",
        "command": "sudo /usr/local/bin/initbox-file-transfer.sh download-can",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "ft CAN path",
        "x": 350,
        "y": 1560,
        "wires": [
            [
                "ft_e9d4d03a7961"
            ],
            [
                "ft_4a31d5785dd9"
            ],
            [
                "ft_4a31d5785dd9"
            ]
        ]
    },
    {
        "id": "ft_e9d4d03a7961",
        "type": "function",
        "z": "tab1",
        "name": "set CAN filename",
        "func": "const path=String(msg.payload||'').trim();\nif(!path){msg.statusCode=404;msg.payload='CAN.trc not found';return [null,msg];}\nmsg.filename=path;return [msg,null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1560,
        "wires": [
            [
                "ft_d8211bd39e1d"
            ],
            [
                "ft_4a31d5785dd9"
            ]
        ]
    },
    {
        "id": "ft_d8211bd39e1d",
        "type": "file in",
        "z": "tab1",
        "name": "read CAN.trc",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 740,
        "y": 1560,
        "wires": [
            [
                "ft_5bbdd9e5b23b"
            ]
        ]
    },
    {
        "id": "ft_5bbdd9e5b23b",
        "type": "function",
        "z": "tab1",
        "name": "CAN headers",
        "func": "msg.statusCode=200;\nmsg.headers={'Content-Type':'application/octet-stream','Content-Disposition':'attachment; filename=\"CAN.trc\"','Cache-Control':'no-store'};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1560,
        "wires": [
            [
                "ft_4a31d5785dd9"
            ]
        ]
    },
    {
        "id": "ft_4a31d5785dd9",
        "type": "http response",
        "z": "tab1",
        "name": "CAN response",
        "statusCode": "",
        "headers": {},
        "x": 1090,
        "y": 1560,
        "wires": []
    },
    {
        "id": "ft_dca1ed38f0e1",
        "type": "http in",
        "z": "tab1",
        "name": "POST /ft/delete-home",
        "url": "/ft/delete-home",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1640,
        "wires": [
            [
                "ft_81ca45161908"
            ]
        ]
    },
    {
        "id": "ft_81ca45161908",
        "type": "function",
        "z": "tab1",
        "name": "delete home args",
        "func": "const body=(msg.req&&msg.req.body)||{};\nconst file=String(body.file||'');\nif(!file||file.includes('..')||file.startsWith('/')||/[;&|`$<>]/.test(file)){msg.statusCode=400;msg.payload='Bad delete request';return [null,msg];}\nmsg.payload=file;return [msg,null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1640,
        "wires": [
            [
                "ft_5d943e57579a"
            ],
            [
                "ft_fa2e705901a9"
            ]
        ]
    },
    {
        "id": "ft_5d943e57579a",
        "type": "exec",
        "z": "tab1",
        "command": "sudo /usr/local/bin/initbox-file-transfer.sh delete-home",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "delete home",
        "x": 540,
        "y": 1620,
        "wires": [
            [
                "ft_fa2e705901a9"
            ],
            [
                "ft_fa2e705901a9"
            ],
            [
                "ft_fa2e705901a9"
            ]
        ]
    },
    {
        "id": "ft_fa2e705901a9",
        "type": "http response",
        "z": "tab1",
        "name": "delete response",
        "statusCode": "",
        "headers": {
            "Content-Type": "text/plain; charset=utf-8"
        },
        "x": 740,
        "y": 1640,
        "wires": []
    },
    {
        "id": "ft_6611181fd2cd",
        "type": "http in",
        "z": "tab1",
        "name": "POST /ft/upload/home",
        "url": "/ft/upload/home",
        "method": "post",
        "upload": true,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1720,
        "wires": [
            [
                "ft_94804aca01b8"
            ]
        ]
    },
    {
        "id": "ft_94804aca01b8",
        "type": "function",
        "z": "tab1",
        "name": "home upload parse",
        "func": "const files=(msg.req&&msg.req.files)||msg.files||{};\nlet f=null;\nif(Array.isArray(files)){f=files[0];}else if(files.file){f=Array.isArray(files.file)?files.file[0]:files.file;}else{const vals=Object.values(files);f=vals.length?(Array.isArray(vals[0])?vals[0][0]:vals[0]):null;}\nif(!f){msg.statusCode=400;msg.payload='No uploaded file found.';return [null,msg];}\nconst original=String(f.originalname||f.name||f.filename||'upload.bin').split(/[\\\\/]/).pop();\nif(!original||original.startsWith('.')||original.includes('..')||/[;&|`$<>]/.test(original)){msg.statusCode=400;msg.payload='Unsafe upload filename.';return [null,msg];}\nconst buf=f.buffer||f.data||msg.payload;\nif(!Buffer.isBuffer(buf)){msg.statusCode=400;msg.payload='Upload did not provide a file buffer.';return [null,msg];}\nmsg.ftOriginalName=original;\nmsg.filename='/tmp/initbox-ft-'+Date.now()+'-'+Math.random().toString(36).slice(2)+'-'+original.replace(/[^A-Za-z0-9._@+=,-]/g,'_');\nmsg.payload=buf;\nreturn [msg,null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1720,
        "wires": [
            [
                "ft_9a6999fdb2d4"
            ],
            [
                "ft_93e275a7d738"
            ]
        ]
    },
    {
        "id": "ft_9a6999fdb2d4",
        "type": "file",
        "z": "tab1",
        "name": "write tmp home",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 570,
        "y": 1700,
        "wires": [
            [
                "ft_7c09e1a364d4"
            ]
        ]
    },
    {
        "id": "ft_7c09e1a364d4",
        "type": "function",
        "z": "tab1",
        "name": "home helper args",
        "func": "const tmp=String(msg.filename||'');\nconst orig=String(msg.ftOriginalName||'upload.bin');\nif(!tmp||/[;&|`$<>]/.test(tmp)||/[;&|`$<>]/.test(orig)){msg.statusCode=400;msg.payload='Bad upload helper args';return [null,msg];}\nmsg.payload=tmp+' '+orig;return [msg,null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1700,
        "wires": [
            [
                "ft_79fe94164bb7"
            ],
            [
                "ft_93e275a7d738"
            ]
        ]
    },
    {
        "id": "ft_79fe94164bb7",
        "type": "exec",
        "z": "tab1",
        "command": "sudo /usr/local/bin/initbox-file-transfer.sh upload-home",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "home helper",
        "x": 1010,
        "y": 1700,
        "wires": [
            [
                "ft_93e275a7d738"
            ],
            [
                "ft_93e275a7d738"
            ],
            [
                "ft_93e275a7d738"
            ]
        ]
    },
    {
        "id": "ft_93e275a7d738",
        "type": "http response",
        "z": "tab1",
        "name": "home upload response",
        "statusCode": "",
        "headers": {
            "Content-Type": "text/plain; charset=utf-8"
        },
        "x": 1250,
        "y": 1720,
        "wires": []
    },
    {
        "id": "ft_a449d15f4474",
        "type": "http in",
        "z": "tab1",
        "name": "POST /ft/upload/can",
        "url": "/ft/upload/can",
        "method": "post",
        "upload": true,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1800,
        "wires": [
            [
                "ft_f323c9167314"
            ]
        ]
    },
    {
        "id": "ft_f323c9167314",
        "type": "function",
        "z": "tab1",
        "name": "CAN upload parse",
        "func": "const files=(msg.req&&msg.req.files)||msg.files||{};\nlet f=null;\nif(Array.isArray(files)){f=files[0];}else if(files.file){f=Array.isArray(files.file)?files.file[0]:files.file;}else{const vals=Object.values(files);f=vals.length?(Array.isArray(vals[0])?vals[0][0]:vals[0]):null;}\nif(!f){msg.statusCode=400;msg.payload='No uploaded file found.';return [null,msg];}\nconst original=String(f.originalname||f.name||f.filename||'upload.bin').split(/[\\\\/]/).pop();\nif(!original||original.startsWith('.')||original.includes('..')||/[;&|`$<>]/.test(original)){msg.statusCode=400;msg.payload='Unsafe upload filename.';return [null,msg];}\nconst buf=f.buffer||f.data||msg.payload;\nif(!Buffer.isBuffer(buf)){msg.statusCode=400;msg.payload='Upload did not provide a file buffer.';return [null,msg];}\nmsg.ftOriginalName=original;\nmsg.filename='/tmp/initbox-ft-'+Date.now()+'-'+Math.random().toString(36).slice(2)+'-'+original.replace(/[^A-Za-z0-9._@+=,-]/g,'_');\nmsg.payload=buf;\nreturn [msg,null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1800,
        "wires": [
            [
                "ft_81573f5d3ca0"
            ],
            [
                "ft_a75c18bf47ca"
            ]
        ]
    },
    {
        "id": "ft_81573f5d3ca0",
        "type": "file",
        "z": "tab1",
        "name": "write tmp CAN",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 570,
        "y": 1780,
        "wires": [
            [
                "ft_71f03471be08"
            ]
        ]
    },
    {
        "id": "ft_71f03471be08",
        "type": "function",
        "z": "tab1",
        "name": "CAN helper args",
        "func": "const tmp=String(msg.filename||'');\nconst orig=String(msg.ftOriginalName||'upload.bin');\nif(!tmp||/[;&|`$<>]/.test(tmp)||/[;&|`$<>]/.test(orig)){msg.statusCode=400;msg.payload='Bad upload helper args';return [null,msg];}\nmsg.payload=tmp+' '+orig;return [msg,null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1780,
        "wires": [
            [
                "ft_6310cde53fd2"
            ],
            [
                "ft_a75c18bf47ca"
            ]
        ]
    },
    {
        "id": "ft_6310cde53fd2",
        "type": "exec",
        "z": "tab1",
        "command": "sudo /usr/local/bin/initbox-file-transfer.sh install-can-trc",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "CAN helper",
        "x": 1010,
        "y": 1780,
        "wires": [
            [
                "ft_a75c18bf47ca"
            ],
            [
                "ft_a75c18bf47ca"
            ],
            [
                "ft_a75c18bf47ca"
            ]
        ]
    },
    {
        "id": "ft_a75c18bf47ca",
        "type": "http response",
        "z": "tab1",
        "name": "CAN upload response",
        "statusCode": "",
        "headers": {
            "Content-Type": "text/plain; charset=utf-8"
        },
        "x": 1250,
        "y": 1800,
        "wires": []
    }
]
